@import url(./results.css);
@import url(./stamp.css);

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

h1 {
    color: #002868;
    text-align: center;
    margin: 16px auto 8px;
}

h2 {
    text-align: center;
    margin: 0px auto;
    color: #002868;
    margin: 8px auto;
}

input[type="number"] {
    width: 64px;
}

#controls > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

}

#controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 8px auto;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button, input[type="submit"] {
    background-color: #BF0A30;
    border-bottom: 2px solid #002868;
    border-right: 2px solid #002868;
    border-top: 2px solid #002868;
    border-left: 2px solid #002868;
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
}

button:hover, input[type="submit"]:hover {
    background-color: #e60e3d;
    transition: background-color .5s;
}

button:active, input[type="submit"]:active {
    background-color: #e60e3d;
    border-top: 2px solid #4474c2d0;
    border-left: 2px solid #4474c2d0;
    border-bottom: 2px solid #4474c2d0;
    border-right: 2px solid #4474c2d0;
    transition: background-color .5s;
}