#summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px auto;
    max-width: 722px;
}

#summary > div {
    width: 150px;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 8px auto 0px;
}



#result {
    margin: 8px auto;
    width: 100%;
}