:root {
    --stamp--size-content: 180px;
    --stamp-size-margin: 16px;
    --stamp-size: calc(var(--stamp--size-content) + var(--stamp-size-margin) * 2)
}

.inventory {
    align-items: center;
    border: 1px dotted black;
    color: grey;
    display: flex;
    justify-content: center;
    margin: 16px auto;
    max-width: calc(var(--stamp-size) * 4);
    min-height: 70px;
    width: 100%;
}

.inventory.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--stamp-size));
    color: black;
    text-align: center;
}

.stamp {
    box-sizing: content-box;
    width: fit-content;
    width: var(--stamp--size-content);
    min-width: 64px;
    min-height: 64px;
    display: grid;
    grid-template-columns: 1fr .25fr .75fr;
    grid-template-areas: "value mult quantity";
    justify-content: space-between;
    font-size: 32px;
    margin: 16px var(--stamp-size-margin);
    align-items: center;
}

.mult{
    grid-area: mult;
    content: "X";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40%;
    width: 100%;
}

.value {
    align-items: flex-end;
    aspect-ratio: 1/1;
    background-image: url(../images/usflag.svg);
    background-origin: content-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    grid-area: value;
    justify-content: center;
    min-width: 80px;
    padding: 4px;
}

.value::after {
    content: "\00A2";
}

.quantity {
    box-sizing: border-box;
    grid-area: quantity;
    align-self: center;
    justify-self: flex-start;
    width: fit-content;
}

input[type="number"].quantity {
    font-size: 100%;
    width: 100%;
    text-align: start;
}