:root {
    --stamp--size-content: 180px;
    --stamp-size-margin: 16px;
    --stamp-size: calc(var(--stamp--size-content) + var(--stamp-size-margin) * 2);
}

.hidden {
    display: none;
}

#instructions {
    position: absolute;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation: fadeInAnimation ease 1s;
}

.inventory {
    overflow: hidden;
    align-items: center;
    border: 1px dotted black;
    color: grey;
    display: flex;
    justify-content: center;
    margin: 16px auto;
    max-width: calc(var(--stamp-size) * 4);
    min-height: 123px;
    width: 100%;
}

.inventory.grid{
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--stamp-size));
}

.stamp {
    position: relative;
    top: 0px;
    align-items: center;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation: fadeInAnimation ease-in 1s, slideIn ease-out .75s;
    box-sizing: content-box;
    display: grid;
    font-size: 32px;
    grid-template-areas: "value mult quantity";
    grid-template-columns: 1fr .25fr .75fr;
    justify-content: space-between;
    margin: 16px var(--stamp-size-margin);
    min-height: 64px;
    min-width: 64px;
    width: fit-content;
    width: var(--stamp--size-content);
}

.mult{
    align-items: center;
    content: "X";
    display: flex;
    font-size: 40%;
    grid-area: mult;
    justify-content: center;
    width: 100%;
}

.value {
    align-items: flex-end;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: url(../images/usflag.svg);
    background-origin: content-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    grid-area: value;
    justify-content: center;
    min-width: 80px;
    padding: 4px;
}

.value::after {
    content: "\00A2";
}

.quantity {
    align-self: center;
    box-sizing: border-box;
    grid-area: quantity;
    justify-self: flex-start;
    width: fit-content;
}

input[type="number"].quantity {
    font-size: 100%;
    text-align: start;
    width: 100%;
}

.deleted {
    position: relative;
    /* uncomment the top style to reenable slide out transitions */
    top: 32px; 
    opacity: 0;
    transition: .25s;
    transition-timing-function: ease;
    z-index: -1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}

