:root {
    --stamp--size-content: 180px;
    --stamp-size-margin: 32px;
    --stamp-size: calc(var(--stamp--size-content) + var(--stamp-size-margin))
}

.inventory {
    display: grid;
    margin: 16px auto;
    max-width: calc(var(--stamp-size) * 4);
    width: 95vw;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, var(--stamp-size));
}


.stamp {
    box-sizing: content-box;
    width: fit-content;
    width: var(--stamp--size-content);
    min-width: 64px;
    min-height: 64px;
    display: grid;
    grid-template-columns: 1fr .25fr .75fr;
    grid-template-areas: "value mult quantity";
    font-size: 32px;
    margin: 16px var(--stamp-size-margin);
    align-items: center;
}

.mult{
    grid-area: mult;
    content: "X";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}

.value {
    align-items: center;
    aspect-ratio: 1/1;
    background-image: url(../images/usflag.svg);
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    color: white;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    grid-area: value;
    justify-content: center;
    min-width: 80px;
    padding: 4px;
}

.quantity {
    box-sizing: border-box;
    grid-area: quantity;
    align-self: center;
    justify-self: center;
}

input[type="number"].quantity {
    font-size: 32px;
    width: 60px;
    text-align: start;
}